<div class="riga row">
   

    <div  class="col-6">
        <select  class="button form-control" #select>
           <option>Ordina per nome</option>
           <option>Ordina per durata</option>
         </select>
       </div>
    <div  class="col-6">
        <input  class="button form-control" type="text" placeholder="Parola chiave" #testo>		
          </div>
          <div  class="col-6">
         <input  class = "button btn btn-primary" type="button" (click) = "applica(select,testo)" value="Applica">
        
         </div>
         <div  class="col-6">
         <input  class = "button btn btn-primary" type="button" (click) = "azzera()" value="Azzera">
            </div>
        </div>
  
<div class="riga2 row">
    <div id = "tit"  class="col-12">
        <p>
            <font color="#729fcf">
           <font face="Chilanka">
               <font size="6" style="font-size: 24pt">				
               <font color="#f10d0c">Video</font>
                   </font>
               </font>
           </font>
           </p>
    </div>
     <div class = "video col-sm-9 col-11">
            <ul  class = "lista1 list-group">
                <li *ngFor = "let v of array" class = "list-item">
                    <div class="embed-responsive embed-responsive-21by9">
                        <video crossorigin = "anonymous" class=" embed-responsive-item" src="{{ v.nome_file }}" controls></video>          
                    </div>  
                    <p style ="margin-left: 30%;">
                        <font color="#2a6099">
                            <font face="Chilanka">
                                <font size="4" style="font-size: 14pt">{{v.titolo}}</font>
                            </font>
                        </font>
                    </p>
                    <p style ="margin-left: 30%;">
                        <font color="#2a6099">
                            <font face="Chilanka">
                                <font size="4" style="font-size: 14pt">Durata : {{v.durata}}</font>
                            </font>
                        </font>
                    </p>
                    <p style ="margin-left: 30%;">
                        <font color="#2a6099">
                            <font face="Chilanka">
                                <font size="4" style="font-size: 14pt">{{v.descrizione}}</font>
                            </font>
                        </font>
                    </p>
                </li>

            </ul>
     </div>
</div>

