<div class="row">
    <div  class="col-4">
        <input  class="form-control" type="text" placeholder="Parola chiave">		
          </div>
          
          <div  class="col-4">
           <select  class="form-control">
              <option>Ordina per nome</option>
              <option>Ordina per durata</option>
            </select>
          </div>
          <div  class="col-4">
         <input  class = "button btn btn-primary" type="button" value="Applica">
         </div>
</div>
    
    