


.titolo {
    color: #1f2220;
}
.frase {
    font-size: 30px;
    color : #20b313;
}
.gal {
    margin-left :16.6%;
    margin-right : 16.6%;
}
.cont {
  background-color: lavender;
}
.contenuto {
    opacity: 1;
}
